In [2]:
import pandas as pd
%run ./AmbisyonETL.py

In [3]:
data_path = "./SurveyResults/"

In [4]:
data = pd.read_csv(data_path+"Ambisyon2040SurveyDataConsolidatedB",sep="|")

In [5]:
data.head(2)

,question,Response,Total,Age 15-19,Age 20-29,Age 30-39,Age 40-50,SEC AB,SEC ABC (NET),SEC C1,SEC C2,SEC D,SEC E,Gender Female,Gender Male,Work Status Not Working,Work Status Student,Work Status Working,Local Urban,Locale Rural
0,10. Ability to Pay for Medical Expenses,Unweighted,10000,1511,3057,2967,2465,60,2280,493,1727,4784,2936,4998,5002,4058,1015,4927,4620,5380
1,10. Ability to Pay for Medical Expenses,Weighted,10000,1978,3211,2594,2217,60,2260,482,1717,4820,2921,4968,5032,4042,1305,4653,4569,5431